
/* Change with of sidebar from 0 to 250px when visible */
#wrapper.visible #sidebar-wrapper {
	width: 575px;

}

#sidebar-wrapper {
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	background-image: url("map.png");
	background-size: cover;
}

#sidebar {
	top: 0;
	left: 0;
	display: block;

	#logo {
		position: absolute;
		top: 3em;
		right: 3em;
		width: auto;
	}

	.btn {
		width: 95px;
		color: #fff;
	}

	.btn.active {
		background: rgba(255, 255, 255, 0.2);
	}

	ul {
		position: absolute;
		top: 400px;
		right: 0;

		li {
			list-style: none;

			a {
				display: block;
				margin-bottom: 4px;
			}
		}
	}
}
